<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="Canguro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="Canguro.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
          <section name="Canguro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <userSettings>
      <Canguro.Properties.Settings>
          <setting name="Culture" serializeAs="String">
              <value>es-MX</value>
          </setting>
          <setting name="BackColor" serializeAs="String">
              <value>Black</value>
          </setting>
          <setting name="JointDefaultColor" serializeAs="String">
              <value>LimeGreen</value>
          </setting>
          <setting name="SmallPanelForeColor" serializeAs="String">
              <value>Yellow</value>
          </setting>
          <setting name="SelectedDefaultColor" serializeAs="String">
              <value>White</value>
          </setting>
          <setting name="ForceLoadForceDefaultColor" serializeAs="String">
              <value>Red</value>
          </setting>
          <setting name="ForceLoadMomentDefaultColor" serializeAs="String">
              <value>255, 128, 0</value>
          </setting>
          <setting name="GrndDispLoadTransDefaultColor" serializeAs="String">
              <value>MediumSeaGreen</value>
          </setting>
          <setting name="GrndDispLoadRotDefautlColor" serializeAs="String">
              <value>YellowGreen</value>
          </setting>
          <setting name="UpdateInstallerPath" serializeAs="String">
              <value/>
          </setting>
          <setting name="UpdateInstallerVersion" serializeAs="String">
              <value/>
          </setting>
          <setting name="TextColor" serializeAs="String">
              <value>242, 220, 39</value>
          </setting>
          <setting name="jointMassColour" serializeAs="String">
              <value>255, 128, 0</value>
          </setting>
          <setting name="ForceReactionColor" serializeAs="String">
              <value>Plum</value>
          </setting>
          <setting name="MomentReactionColor" serializeAs="String">
              <value>Tan</value>
          </setting>
          <setting name="WindowSize" serializeAs="String">
              <value>800, 600</value>
          </setting>
          <setting name="WindowMaximazed" serializeAs="String">
              <value>No</value>
          </setting>
          <setting name="MaterialSelectedDefaultColor" serializeAs="String">
              <value>Gray</value>
          </setting>
          <setting name="UnitSystem" serializeAs="String">
              <value>MetricSystem</value>
          </setting>
      </Canguro.Properties.Settings>
  </userSettings>
  <applicationSettings>
      <Canguro.Properties.AppSettings>
          <setting name="Canguro_CanguroServer_Analysis" serializeAs="String">
              <value>https://www.treusoft.com/CanguroServerR2.1/Analysis.asmx</value>
          </setting>
          <setting name="ForceLoadArrowScale" serializeAs="String">
              <value>0.075</value>
          </setting>
          <setting name="ForceLoadLineScale" serializeAs="String">
              <value>0.006</value>
          </setting>
          <setting name="MomentLoadArrowScale" serializeAs="String">
              <value>0.03</value>
          </setting>
          <setting name="MomentLoadLineScale" serializeAs="String">
              <value>0.006</value>
          </setting>
          <setting name="ResultsDownloadUrl" serializeAs="String">
              <value>http://www.treusoft.com/CanguroResults</value>
          </setting>
          <setting name="VersionCheckURL" serializeAs="String">
              <value>https://www.treusoft.com/CanguroUpdate/version.txt</value>
          </setting>
          <setting name="UpdateInstallerPath" serializeAs="String">
              <value/>
          </setting>
          <setting name="UpdateInstallerURL" serializeAs="String">
              <value>https://www.treusoft.com/CanguroUpdate/tss_en.msi</value>
          </setting>
          <setting name="UpdateInstallerVersion" serializeAs="String">
              <value/>
          </setting>
          <setting name="ElementForcesSegments" serializeAs="String">
              <value>16</value>
          </setting>
          <setting name="RegistrationURL" serializeAs="String">
              <value>https://www.treusoft.com/Register</value>
          </setting>
          <setting name="AccountURL" serializeAs="String">
              <value>https://www.treusoft.com/Account</value>
          </setting>
          <setting name="AddCreditURL" serializeAs="String">
              <value>https://www.treusoft.com/Credit</value>
          </setting>
          <setting name="TextColor" serializeAs="String">
              <value>242, 220, 39</value>
          </setting>
          <setting name="jointMassColour" serializeAs="String">
              <value>255, 128, 0</value>
          </setting>
          <setting name="ForceReactionColor" serializeAs="String">
              <value>Plum</value>
          </setting>
          <setting name="MomentReactionColor" serializeAs="String">
              <value>Tan</value>
          </setting>
          <setting name="DefaultPrintinBackgroundColor" serializeAs="String">
              <value>White</value>
          </setting>
          <setting name="JoinTolerance" serializeAs="String">
              <value>0.001</value>
          </setting>
          <setting name="DefaultSteel" serializeAs="String">
              <value>A36</value>
          </setting>
          <setting name="DefaultConcrete" serializeAs="String">
              <value>4000Psi</value>
          </setting>
      </Canguro.Properties.AppSettings>
      <Canguro.Properties.Settings>
          <setting name="CanAutoChangeAdapter" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="Canguro_CanguroServer_Analysis" serializeAs="String">
              <value>https://www.treusoft.com/CanguroServerR2.1/Analysis.asmx</value>
          </setting>
          <setting name="ForceLoadArrowScale" serializeAs="String">
              <value>0.075</value>
          </setting>
          <setting name="ForceLoadLineScale" serializeAs="String">
              <value>0.006</value>
          </setting>
          <setting name="MomentLoadArrowScale" serializeAs="String">
              <value>0.03</value>
          </setting>
          <setting name="MomentLoadLineScale" serializeAs="String">
              <value>0.006</value>
          </setting>
          <setting name="ResultsDownloadUrl" serializeAs="String">
              <value>http://www.treusoft.com/CanguroResults</value>
          </setting>
          <setting name="VersionCheckURL" serializeAs="String">
              <value>https://www.treusoft.com/CanguroUpdate/version.txt</value>
          </setting>
          <setting name="UpdateInstallerURL" serializeAs="String">
              <value>https://www.treusoft.com/CanguroUpdate/tss.msi</value>
          </setting>
          <setting name="ElementForcesSegments" serializeAs="String">
              <value>16</value>
          </setting>
          <setting name="RegistrationURL" serializeAs="String">
              <value>https://www.treusoft.com/Register</value>
          </setting>
          <setting name="AccountURL" serializeAs="String">
              <value>https://www.treusoft.com/Account</value>
          </setting>
          <setting name="AddCreditURL" serializeAs="String">
              <value>https://www.treusoft.com/Credit</value>
          </setting>
          <setting name="BuyCreditURL" serializeAs="String">
              <value>https://www.treusoft.com/Store/tabid/63/Default.aspx</value>
          </setting>
          <setting name="UndoLimit" serializeAs="String">
              <value>500000</value>
          </setting>
          <setting name="DefaultPrintinBackgroundColor" serializeAs="String">
              <value>White</value>
          </setting>
          <setting name="JoinTolerance" serializeAs="String">
              <value>0.001</value>
          </setting>
          <setting name="DefaultSteel" serializeAs="String">
              <value>A36</value>
          </setting>
          <setting name="DefaultConcrete" serializeAs="String">
              <value>4000Psi</value>
          </setting>
          <setting name="VistaVirtualizationFixed" serializeAs="String">
              <value>True</value>
          </setting>
      </Canguro.Properties.Settings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
